 <html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD19 Geo Explorer</title>
  </head>
  <body>
  <div th:replace="layouts/navbar :: navbar"></div>
   <div layout:fragment="content" class="content">
  
   <h3>[[${institution}]]</h3>

		<div th:each="pub : ${publications}">
			<h4>
				<a th:href="@{'/paper?paperId='+ ${pub.paperId}}">[[${#strings.defaultString(pub.metadata.title,
					'No title available')}]]</a>
			</h4>
			<ul style="color:white;">
				<li th:each="author : ${pub.metadata.authors}"><i>[[${author.affiliation.institution}]]<span th:if="${author.affiliation.locationSettlement}">,</span>
						[[${author.affiliation.locationSettlement}]]<span th:if="${author.affiliation.locationRegion}">,</span>
						[[${author.affiliation.locationRegion}]]<span th:if="${author.affiliation.locationCountry}">,</span>
						[[${author.affiliation.locationCountry}]]</i> <br> <b> Location: </b><a
					th:href="@{https://en.wikipedia.org/wiki/__${author.affiliation?.selectedWikiarticle?.title}__}"
					target=_blank>[[${author.affiliation?.selectedWikiarticle?.title}]]</a>
					<span th:if="${clean != null}">- [[${author.affiliation?.selectedWikiarticle?.coordinates}]]</span>
					<div th:if="${clean != null}">
					<ul>
						<li th:each="wiki : ${author.affiliation?.wikiarticles}">
							[[${wiki.title}]]</li>
					</ul></li>
			</ul>
			</div>
		</div>

  </body>
</html>