<html layout:decorate="~{layouts/main}">
<head>
<title>Authority Matcher</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{'/search'}" method="GET" class="form-inline my-2 my-lg-0" style="float:right">
			<input class="form-control mr-sm-2" type="search" id="search" th:name="search">
			<button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="submit"><i class="fa fa-search"></i></button>
		</form>
		<h3>Search Results</h3>
		<div>
   		Total: [[${total}]] affiliations
   		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Matched Publications</th>
				</tr>
			</thead>
			<tbody>

				<div th:each="aff, iStat : ${matchedAffiliationsPage}">
					<tr>
						<th scope="row">
						<b><a th:href="@{'/affiliation?name=' + ${aff.id}}">[[${#strings.defaultString(aff.wiki,
									'No title available')}]]</a></b> <br>
						</th>
					</tr>
				</div>
			</tbody>
		</table>

		
		
		
		
		
		</body>
</html>