<html layout:decorate="~{layouts/main}">
  <head>
    <title>Authority Matcher</title>
  </head>
  <body>
   <div layout:fragment="content">
   	<div class="row">
   		<div class="col-md-4">
   		<h4>Countries in affiliation field</h4>
   		 <div th:each="country : ${countries}">
	      [[${country}]]
	      </div>
   		</div>
   		<div class="col-md-4">
   		<h4>Publication years</h4>
   		<div th:each="year : ${years}">
	      [[${year}]]
	     </div>
   		</div>
   		<div class="col-md-4">
   		<h4>Countries in text</h4>
   		<div th:each="country : ${textCountries}">
	      <a th:href="@{'/location/' + ${country}}">[[${country}]]</a>
	     </div>
   		</div>
   	</div>
     
   </div>
  </body>
</html>