<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD19 Geo Explorer</title>
  </head>
  <body>
   <div layout:fragment="content">
   <h3>[[${location}]]</h3>
   	<div class="row">
   		<div th:each="pub : ${publications}">
   		  
		    <b>[[${pub.metadata.title}]]</b>
		    <ul>
		      <li th:each="para : ${pub.bodyText}">
		      	<i th:text="*{para.section != ''} ? *{para.section}: 'No Section title'"></i>
		      	<br>
		      	[[${para.text}]]
		      </li>
	      	</ul>
	     </div>
   	</div>
     
   </div>
  </body>
</html>