<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD19 Geo Explorer</title>
  </head>
  <body>
   <div layout:fragment="content">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
   <script>
   $(function() {
	   $(".paraText").mark("[[${location}]]", { "separateWordSearch": false});
   });
   </script>
   <style>
	mark{
	    background: #f7ceff;
	    color: black;
	}
   </style>
   <h3>[[${location}]]</h3>
   	<div class="row">
   		<div th:each="pub : ${publications}">
   		  
		    <b><a th:href="@{'/paper/' + ${pub.paperId}}">[[${#strings.defaultString(pub.metadata.title, 'No title available')}]]</a></b>
		    <ul>
		      <li th:each="para : ${pub.bodyText}">
		      	<i th:text="*{para.section != ''} ? *{para.section}: 'No Section title'"></i>
		      	<br>
		      	<span class="paraText">
		      	[[${para.text}]]
		      	</span>
		      </li>
	      	</ul>
	     </div>
   	</div>
     
   </div>
  </body>
</html>