<html layout:decorate="~{layouts/main}">
<head>
<title>Authority Matcher</title>
<script>
	$(function() {
		$('#sortByDropdown').change(function() {
			this.form.submit();
		});

		$('#orderByDropdown').change(
				function() {

					$('#sortByDropdown').find(":selected").val(
							$('#sortByDropdown').find(":selected").val().split(",")[0] +","
							+ $('#orderByDropdown').find(":selected").val());
					this.form.submit();
				});
	});
</script>
</head>
<body>
	<div th:replace="layouts/navbar :: navbar"></div>
	
	<div layout:fragment="content" class="content">
		<div class="nav-content" style="width: 100%">
			<h3>[[${total}]] publications found</h3>
			 <form th:action="@{'/pubs'}" id="sortByForm" method="GET" class="form">	
					<div style="display:flex; align-items: baseline">
					<input type="hidden" name="init" value=true></input>
					<p class="one-line-right">Sort by: </p>
						<select aria-describedby="sortByDropdown" class="form-control searchbox" data-nav-selected="47"
							id="sortByDropdown" style="margin-right: 25px" tabindex="18" title="Sort by:" th:name="sort">
							<option value="journal,desc" th:selected="${sort eq 'journal,DESC' or sort eq 'journal,ASC' }">Journal</option>
	 						<option value="publishYear,desc" th:selected="${sort eq 'publishYear,DESC' or sort eq 'publishYear,ASC'}">Year</option>
	 						<option value="metadata.title,asc" th:selected="${sort eq 'metadata.title,DESC' or sort eq 'metadata.title,ASC'}">Title</option>
						</select>
						<p class="one-line-right">Order by: </p>
						<select aria-describedby="orderByDropdown" class="form-control searchbox" data-nav-selected="47"
							id="orderByDropdown" tabindex="18" title="Order by:">
							<option value="asc" th:selected="${order eq 'ASC'}">Ascending</option>
	 						<option value="desc" th:selected="${order eq 'DESC'}">Descending</option>
						</select>
					</div>
					
				</form>
		</div>
		
		<table class="table table-striped">
			<tbody>
				<div th:each="pub, iStat : ${pubs}">
					<tr>
						<th scope="row" style="border: none;"><b><a th:href="@{'/paper/' + ${pub.paperId}}">[[${#strings.defaultString(pub.metadata.title, 'No title available')}]]</a></b> <br>
							<b th:if="${pub.publishYear != '' && pub.publishYear > 0}">Publish Year: [[${pub.publishYear}]]</b> 
							<b th:if="${pub.journal != null}">, Journal: [[${pub.journal}]]</b><br th:if="${pub.journal != null or pub.publishYear != null}">
							<div th:each="author, iterstat : ${pub.metadata.authors}" class="authors-list">
								<b th:if="${author.name == null}">[[${author.first}]] [[${#strings.listJoin(author.middle,',')}]] [[${author.last}]]</b>
								<b th:if="${author.name != null}">[[${author.name}]]</b><span th:text="!${iterstat.last} ? ',': ''"></span>
							</div>
						</th>
					</tr>
				</div>
			</tbody>
		</table>

		<div th:if="${totalPages > 0}"
			class="pagination" th:each="pageNumber : ${pageNumbers}">
			<a
				th:href="@{/pubs(size=${#lists.size(pubs)}, page=${pageNumber}, totalPages=${totalPages}, sort=${sort}, init = true)}"
				th:text=${pageNumber}></a>
		</div>
		
		<nav>
			<ul class="pagination">
		  	
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{/pubs(page=${page-1}, sort=${sort}, init = false)}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    <li th:if="${page - 1 < 0}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    
		    <li th:if="${page - 4 >= 0}"><a href="#" th:href="@{/pubs(page=${page-5},sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page-3}]]</a></li>
		    <li th:if="${page - 3 >= 0}"><a href="#" th:href="@{/pubs(page=${page-3},sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page-2}]]</a></li>
		    <li th:if="${page - 2 >= 0}"><a href="#" th:href="@{/pubs(page=${page-2},sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page-1}]]</a></li>
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{/pubs(page=${page-1},sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page}]]</a></li>
		    
		    <li class="active"><a href="#">[[${page+1}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{/pubs(page=${page+1}, sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page+2}]]</a></li>
		    <li th:if="${page + 2 < pageCount}"><a href="#" th:href="@{/pubs(page=${page+2}, sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page+3}]]</a></li>
		    <li th:if="${page + 3 < pageCount}"><a href="#" th:href="@{/pubs(page=${page+3}, sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page+4}]]</a></li>
		    <li th:if="${page + 4 < pageCount}"><a href="#" th:href="@{/pubs(page=${page+4}, sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}">[[${page+5}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{/pubs(page=${page+1}, sort=${sort}, last=${pubs[#lists.size(pubs)-1].paperId}, init = false)}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    <li th:if="${page + 1 >= pageCount}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    
		  </ul>
		</nav>	
	</div>
		
</body>
</html>