<html layout:decorate="~{layouts/main}">
  <head>
    <title>Authority Matcher</title>
  </head>
  <body>
   <div th:replace="layouts/navbar :: navbar"></div>
   <div layout:fragment="content" class="content">
   	<div class="row">
   	<ul class="list-group">
   		<li class="list-group-item">
   		Total number of publications: <span class="label label-primary">[[${totalPublications}]]</span>
   		</li>
   		<li class="list-group-item">
   		Number of total authors: <span class="label label-primary">[[${authorCount}]]</span>
   		</li>
  		<li class="list-group-item">
   		Number of papers with at least one author affiliation: <span class="label label-success">[[${paperWithAffCount}]]</span>
   		</li>
   		<li class="list-group-item">
   		Number of papers with no affiliations: <span class="label label-warning">[[${paperWithoutAffCount}]]</span>
   		</li>
   		
   	</ul>
   	
   	<ul class="list-group">
   		<li class="list-group-item">
   		Total number of authors with affiliation: <span class="label label-info">[[${authorWithAffCount}]]</span>
   		</li>
   		<li class="list-group-item">
   		Total number of authors with affiliation and matched place: <span class="label label-info">[[${authorWithAffAndArticleCount}]]</span>
   		</li>
   		<li class="list-group-item">
   		Total number of papers with at least one matched affiliation: <span class="label label-info">[[${paperWithAffAndArticleCount}]]</span>
   		</li>
   		<li class="list-group-item">
   		Total number of authors with correctly matched affiliation region: <span class="label label-warning">[[${authorsWithCorrectRegionAffCount}]]</span>
   		</li>
   		<li class="list-group-item">
   		Total number of authors with incorrectly matched affiliation: <span class="label label-danger">[[${authorWithIncorrectAffArticleMatch}]]</span>
   		</li>
   		<li class="list-group-item">
   		Total number of papers with incorrectly matched affiliation: <span class="label label-danger">[[${papersWithIncorrectAffArticleMatch}]]</span>
   		</li>
   		
   	</ul>
   	</div>
     
   </div>
  </body>
</html>