<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD-19 Geo Explorer</title>
  </head>
  <body>
   <div layout:fragment="content">
      <h2>Affiliations</h2>
      
      	<div>
   		Total: [[${total}]] affiliations
   		</div>
	   	<nav>
		  <ul class="pagination">
		  	<li th:if="${page != 0}"><a href="#" th:href="@{'/auth/affiliations?page=0'}" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
		  	<li th:if="${page == 0}" class="disabled"><a href="#" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
		  	
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    <li th:if="${page - 1 < 0}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    
		    <li th:if="${page - 4 >= 0}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page-5}}">[[${page-3}]]</a></li>
		    <li th:if="${page - 3 >= 0}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page-3}}">[[${page-2}]]</a></li>
		    <li th:if="${page - 2 >= 0}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page-2}}">[[${page-1}]]</a></li>
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page-1}}">[[${page}]]</a></li>
		    
		    <li class="active"><a href="#">[[${page+1}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page+1}}">[[${page+2}]]</a></li>
		    <li th:if="${page + 2 < pageCount}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page+2}}">[[${page+3}]]</a></li>
		    <li th:if="${page + 3 < pageCount}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page+3}}">[[${page+4}]]</a></li>
		    <li th:if="${page + 4 < pageCount}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page+4}}">[[${page+5}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${page+1}}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    <li th:if="${page + 1 >= pageCount}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    
		    <li th:if="${page != pageCount-1}"><a href="#" th:href="@{'/auth/affiliations?page=' + ${pageCount-1}}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
		  	<li th:if="${page == pageCount-1}" class="disabled"><a href="#" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
		  	
		  </ul>
		</nav>
      
      <table class="table table-striped">
      <thead>
      <tr>
      	<th>Institution</th>
      	<th>Selected Wiki article</th>
      	<th>Coordinates</th>
      	<th>Status</th>
      </tr>
      </thead>
      <tr th:each="aff : ${affs}" th:classappend="(${aff.status} == 'INCORRECT' ? 'danger' : '') + (${aff.status} == 'CORRECT_REGION' ? 'warning' : '') + (${aff.status} == 'CORRECT' ? 'success' : '')" >
      	<td>
      		 <a th:href="@{'/affiliation?name=' + ${#uris.escapeQueryParam(aff.id)}}"><span th:text="${aff.id}"></span></a>
      		 <br>[[${aff.settlement}]], [[${aff.country}]]
      	</td>
      	<td>
      		<a th:if="${aff.wiki}" target="_blank" th:href="'https://en.wikipedia.org/wiki/' + ${aff.wiki}">
      		[[${aff.wiki}]]
      		</a>
      	</td>
      	<td>
      		<span th:text="${aff.coord}"></span>
      	</td>
      	<td>
      		<form th:action="@{'/auth/affiliation/status'}" method="POST">
      		<input type="hidden" name="affiliation" th:value="${aff.id}">
      		<input type="hidden" name="status" value="INCORRECT">
      		<input type="hidden" name="page" th:value="${page}">
      		<button type="submit" class="btn btn-xs btn-danger">Incorrect</button>
      		</form>
      		<form th:action="@{'/auth/affiliation/status'}" method="POST">
      		<input type="hidden" name="affiliation" th:value="${aff.id}">
      		<input type="hidden" name="status" value="CORRECT_REGION">
      		<input type="hidden" name="page" th:value="${page}">
      		<button type="submit" class="btn btn-xs btn-warning">Correct region</button>
      		</form>
      		<form th:action="@{'/auth/affiliation/status'}" method="POST">
      		<input type="hidden" name="affiliation" th:value="${aff.id}">
      		<input type="hidden" name="status" value="CORRECT">
      		<input type="hidden" name="page" th:value="${page}">
      		<button type="submit" class="btn btn-xs btn-success">Correct</button>
      		</form>
      	</td>
      </tr>
      </table>
      
   </div>
  </body>
</html>