<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD-19 Geo Explorer</title>
  </head>
  <body>
   <div th:replace="layouts/navbar :: navbar"></div>
   <div layout:fragment="content" class="content">
      <h2>Delete Import from Arxiv</h2>
      
      <form action="#" th:action="@{/auth/arxiv/delete}" method="POST">
      	<h4>Are you sure you want to delete all previous Arxiv imports? </h4>
      	<p>
      	This cannot be undone.
      	</p>
      	<p>
      	<button class="btn primary-btn" type="submit">Yes, delete</button>
      	</p>
      </form>
   </div>
  </body>
</html>