<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD19 Geo Explorer</title>
  </head>
  <body>
   <div th:replace="layouts/navbar :: navbar"></div>
   <div layout:fragment="content" class="content">
   <style>
   .label-DONE {
   	    background-color: #74af74;
   }
   .label-FAILURE {
	    background-color: #e06565;
	}
	.label-PROCESSING {
	    background-color: #e0cb65;
	}
   </style>
   	<div class="row">
   		<h5>
   		Total: [[${total}]] exports
   		</h5>
	   	<nav>
		  <ul class="pagination">
		  	<li th:if="${page != 0}"><a href="#" th:href="@{'/auth/export/list?page=0'}" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
		  	<li th:if="${page == 0}" class="disabled"><a href="#" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
		  	
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    <li th:if="${page - 1 < 0}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    
		    <li th:if="${page - 4 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-5}}">[[${page-3}]]</a></li>
		    <li th:if="${page - 3 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-3}}">[[${page-2}]]</a></li>
		    <li th:if="${page - 2 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-2}}">[[${page-1}]]</a></li>
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-1}}">[[${page}]]</a></li>
		    
		    <li class="active"><a href="#">[[${page+1}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+1}}">[[${page+2}]]</a></li>
		    <li th:if="${page + 2 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+2}}">[[${page+3}]]</a></li>
		    <li th:if="${page + 3 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+3}}">[[${page+4}]]</a></li>
		    <li th:if="${page + 4 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+4}}">[[${page+5}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+1}}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    <li th:if="${page + 1 >= pageCount}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    
		    <li th:if="${page != pageCount-1}"><a href="#" th:href="@{'/auth/export/list?page=' + ${pageCount-1}}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
		  	<li th:if="${page == pageCount-1}" class="disabled"><a href="#" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
		  	
		  </ul>
		</nav>

   		<table class="table table-striped">
   			<tbody class="table-body">
	   		  <tr th:each="export : ${exports}">
			    <td>
			    <b>[[${export.id}]]</b><br>
			    </td>
			    <td>
			    [[${export.type}]]
			    </td>
			    <td>
			    [[${export.task.dateStarted}]]
			    </td>
			    <td>
			    [[${export.task.dateEnded}]]
			    </td>
			    <td>
			    <span class="label" th:classappend="'label-' + ${export.task.status}">[[${export.task.status}]]</span>
			    </td>
			    <td class="text-right">
			    <a th:if="${export.filename}" th:href="@{'/auth/export/' + ${export.id} + '/download'}"><i class="fas fa-download"></i> Download</a>
			    </td>
		      </tr>
		     </tbody>
	     </table>
	     
	     <nav>
		  <ul class="pagination">
		  	<li th:if="${page != 0}"><a href="#" th:href="@{'/auth/export/list?page=0'}" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
		  	<li th:if="${page == 0}" class="disabled"><a href="#" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
		  	
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    <li th:if="${page - 1 < 0}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		    
		    <li th:if="${page - 4 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-5}}">[[${page-3}]]</a></li>
		    <li th:if="${page - 3 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-3}}">[[${page-2}]]</a></li>
		    <li th:if="${page - 2 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-2}}">[[${page-1}]]</a></li>
		    <li th:if="${page - 1 >= 0}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page-1}}">[[${page}]]</a></li>
		    
		    <li class="active"><a href="#">[[${page+1}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+1}}">[[${page+2}]]</a></li>
		    <li th:if="${page + 2 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+2}}">[[${page+3}]]</a></li>
		    <li th:if="${page + 3 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+3}}">[[${page+4}]]</a></li>
		    <li th:if="${page + 4 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+4}}">[[${page+5}]]</a></li>
		    
		    <li th:if="${page + 1 < pageCount}"><a href="#" th:href="@{'/auth/export/list?page=' + ${page+1}}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    <li th:if="${page + 1 >= pageCount}" class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
		    
		    <li th:if="${page != pageCount-1}"><a href="#" th:href="@{'/auth/export/list?page=' + ${pageCount-1}}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
		  	<li th:if="${page == pageCount-1}" class="disabled"><a href="#" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
		  	
		  </ul>
		</nav>
   	</div>
     
   </div>
   <div th:replace="layouts/footer :: footer"></div>
  </body>
</html>