<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD-19 Geo Explorer</title>
  </head>
  <body>
   <div th:replace="layouts/navbar :: navbar"></div>
   <div layout:fragment="content" class="content">
      <h2>Start Affiliation Extraction</h2>
      
      <form action="#" th:action="@{/auth/extract/affiliations}" method="POST">
      	<p>
      	<button class="btn primary-btn" type="submit">Start Process</button>
      	</p>
      </form>
   </div>
  </body>
</html>