<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD-19 Geo Explorer</title>
  </head>
  <body>
   <div th:replace="layouts/navbar :: navbar"></div>
   <div layout:fragment="content" class="content">
      <h2>Past imports</h2>
      
      <table class="table table-striped">
      	<tbody class="table-body">
      		<tr th:each="task : ${tasks}" >
		      	<td>
		      		<span th:text="${task.id}"></span>
		      	</td>
		      	<td>
		      		<span th:text="${task.processed}"></span>
		      	</td>
		      	<td>
		      		<span th:text="${task.dateStarted}"></span>
		      	</td>
		      	<td>
		      		<span th:text="${task.dateEnded}"></span>
		      	</td>
		      	<td>
		      		<span th:text="${task.status}"></span>
		      	</td>
		     </tr>
      	</tbody>
      </table>
      
   </div>
  </body>
</html>