


<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD-19 Geo Explorer</title>
  </head>
  <body>
   <div layout:fragment="content">
   <span hidden id="countries" th:text="${countries}"></span>
   <span hidden id="low" th:text="${low}"></span>
   <span hidden id="high" th:text="${high}"></span>
   <script>
   $(document).ready(function(){
	   // Your code here
	   loadMap();
	   
	});
   function loadMap() {
	   console.log("ready");
	   
		// mapid is the id of the div where the map will appear
		var map = L.map('mapid').setView([47, 2], 5);   // center position + zoom
		// Add a tile to the map = a background. Comes from OpenStreetmap
		L.tileLayer(
		    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
		    maxZoom: 6,
		    }).addTo(map);
		
		// Add a svg layer to the map
		L.svg().addTo(map);
		let high = $('#high').text();
		let low = $('#low').text();
		console.log(high);
		scaler = high/100;
		let countries = $('#countries').text();
		let p = countries.split("],");
		p.forEach(function (item, index) {
			let x = item.split("=");
			let t = x[1].split(', {');
			  console.log();
			  try{
			  	let y = "{" + t[1];
			  	coords = JSON.parse(y)
			  	var latlng = L.latLng(coords)
				// Create data for circles:
				rad =  Number(t[0].split('[')[1])
				finalRad = rad/scaler
				L.circleMarker(latlng).setRadius(finalRad).addTo(map);
			  	
			  } catch(err) {
				  console.log(err);
			  }

			  
			  
			});

		
		
		
		
		
		
		// If the user change the map (zoom or drag), I update circle position:
		//map.on("moveend", update)
   }

</script>
<style>
#mapid { height: 400px; }
</style>
      <h2>Map</h2>
      
      <form action="#" th:action="@{/auth/map/gather}" method="POST">
      	<p>
      	<button class="btn btn-primary" type="submit">Start Process</button>
      	</p>
      </form>
      <!-- Create an element where the map will take place -->
	<div id="mapid"></div>
   </div>
  </body>
</html>


</style>