<html layout:decorate="~{layouts/main}">
  <head>
    <title>CORD-19 Geo Explorer</title>
  </head>
  <body>
   <div th:replace="layouts/navbar :: navbar"></div>
   <div layout:fragment="content" class="content">
      <h2>Import Metadata File</h2>
      
      <form action="#" th:action="@{/auth/metadata/import}" method="POST">
      	<div>
      	<label>Which file should be imported </label>
      	<input class="form-control searchbox" type="text" name="filepath">
      	<p>*Please provide absolute path.</p>
      	</div>
      	<p>
      	<button class="btn primary-btn" type="submit">Start Import</button>
      	</p>
      </form>
      <h2 style="margin-top: 40px;">Import Dimensions Metadata File</h2>
      <form action="#" th:action="@{/auth/metadata/import} + '?type=dimensions'" method="POST">
      	<div>
      	<label>Which file should be imported </label>
      	<input class="form-control searchbox" type="text" name="filepath">
      	<p>*Please provide absolute path.</p>
      	</div>
      	<p>
      	<button class="btn primary-btn" type="submit">Start Import</button>
      	</p>
      </form>
   </div>
  </body>
</html>