<script>
	$('input').popup(); 
</script>

<div th:fragment="charts" class="charts">
	<div id="chart1" class="card">
		<h4 class="card-title">Chart 1</h4>
		
	</div>
	<div id="chart2" class="card">
		<h4 class="card-title">Chart 2</h4>
		
	</div>
	<div id="chart3" class="card">
		<h4 class="card-title">Chart 3</h4>	
		
	</div>
	<div id="chart4" class="card">
		<h4 class="card-title">Chart 4</h4>
		
	</div>
</div>

<div th:fragment="latest">
	<div class="card">
	  <div class="card-body">
	    <a href="">Publication Title</a>
	    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  </div>
	</div>
</div>


