<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" th:href="@{/resources/font-awesome-5.7.2/css/all.css}" type="text/css"  />
    <link rel="stylesheet" th:href="@{/resources/bootstrap/assets/css/style.css}" type="text/css"  />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">CORD-19 Geo Explorer</title>
    
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet">

    <link th:href="@{/resources/bootstrap/assets/css/ie10-viewport-bug-workaround.css}" type="text/css" rel="stylesheet">

    <link th:href="@{/resources/bootstrap/grid.css}" type="text/css" rel="stylesheet">

    <script th:src="@{/resources/bootstrap/assets/js/ie-emulation-modes-warning.js}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 	<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/main.js}"></script>
	<script>
		$(document).ready(
			function() {
				$("#searchDropdownBox").change(
					function() {
						if ($(this).val() == "AFFILIATIONS") {
							$("#searchForm").attr("action", '[[@{/affiliations/search}]]');
						} else {
							$("#searchForm").attr("action", '[[@{/publications/search}]]');
						}
				});
		});
	</script>
  </head>
</html>